In [6]:
!curl -L http://bit.ly/dw_car_data -o car.h5

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   152  100   152    0     0    993      0 --:--:-- --:--:-- --:--:--  1000

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  3 57.7M    3 1935k    0     0   816k      0  0:01:12  0:00:02  0:01:10 2611k
 16 57.7M   16 9551k    0     0  2832k      0  0:00:20  0:00:03  0:00:17 5486k
 29 57.7M   29 17.2M    0     0  4028k      0  0:00:14  0:00:04  0:00:10 6421k
 43 57.7M   43 25.0M    0     0  4768k      0  0:00:12  0:00:05  0:00:07 6847k
 56 57.7M   56 32.6M    0     0  5237k      0  0:00:11  0:00:06  0:00:05 7038k
 69 57.7M   69 40.0M    0     0  5565k      0  0:00:10  0:00:07  0:00:03 7817k
 83 57.7M   83 48.4M    0     0  5924k      0  0:00:09  0:00:08  0:00:01 8007k
 97 57.7M   97 55.9M    0     0  6119k      0  0:00:09  0:00:09 --:--:-- 7948k
100 57.7M  100 57.7M    0     0  6123k      0  0:00:09  0:00:09 --:--:-- 7823k

In [7]:
import pandas as pd
df = pd.read_hdf('car.h5')
df.shape

(106494, 155)

In [8]:
df.sample(5)

,breadcrumb,created_at,price_currency,price_details,price_value,seller_address,seller_name,seller_type,feature_czujniki-parkowania-przednie,feature_poduszka-powietrzna-chroniąca-kolana,...,param_pearl,param_stan,param_wersja,param_emisja-co2,param_body-type,param_matowy,param_bezwypadkowy,param_akryl-(niemetalizowany),param_monthly-payment-value,car_id
47109,"[Osobowe, BMW, Seria 5, 520, BMW Seria 5 G30 (...","10:24, 5 marca 2018",PLN,"Cena Brutto, Faktura VAT",224000.0,"Wystawowa 2 - 25-672 Kielce, Świętokrzyskie (P...",Dealer BMW ZK Motors,Dealer,True,False,...,None,Używane,G30 (2017-),None,None,None,Tak,None,None,47109
8122,"[Osobowe, Renault, Laguna, Renault Laguna II (...","12:46, 3 marca 2018",PLN,Cena Brutto,8950.0,"Złoczew, sieradzki, Łódzkie",None,Osoba prywatna,False,False,...,None,Używane,II (2001-2007),None,None,None,Tak,None,None,8122
52383,"[Osobowe, Seat, Toledo, Seat Toledo IV (2012-)]","13:13, 2 marca 2018",PLN,"Cena Brutto, Do negocjacji, Faktura VAT",46600.0,"Jawornik 525 - 32-400 Myślenice, myślenicki, M...",Dynamica Sp z o.o.,Dealer,False,True,...,None,Używane,IV (2012-),None,None,None,None,None,None,52383
141618,"[Osobowe, Renault, Laguna, Renault Laguna II (...","16:38, 27 lutego 2018",PLN,"Cena Brutto, Do negocjacji",10490.0,"Płock, Mazowieckie",None,Osoba prywatna,False,False,...,None,Używane,II (2001-2007),None,None,None,Tak,None,None,141618
92775,"[Osobowe, Nissan, Note, Nissan Note I (2005-20...","13:46, 2 marca 2018",PLN,"Cena Brutto, Do negocjacji",13900.0,"Dudki 6A/ul.Objazdowa 33 - 99-300 Kutno, kutno...",Auto Import Dudki 6A,Dealer,False,False,...,None,Używane,I (2005-2013),None,None,None,Tak,None,None,92775